{% embed "@snippets/containers/wrapper.twig" %}
    {% block wrappercontent %}
        <section class="maintext paragraphs text-center mb-48">
            {{ data.text.kt|raw }}
        </section>
    {% endblock %}
{% endembed %}
