{% if data.layout == 'textimage' %}

    {% embed "@snippets/containers/wrapleft.twig" %}
        {% block wrapleftone %}
            {% include '@snippets/parts/textblock.twig' with {'heading': data.heading, 'text' : data.text } %}
        {% endblock %}
        {% block wraplefttwo %}
        <div class="relative pb-360">
            {% include '@snippets/parts/slider.twig' %}
            <div class="leaves absolute pin-r pin-b h-360 fadein" >
                <img src="{{ kirby.url('assets')  }}/images/Sporakia.png" alt="" style="max-height:100%;" />
            </div>
        </div>

        {% endblock %}
    {% endembed %}

{% else %}

    {% embed "@snippets/containers/wrapright.twig" %}
        {% block wraprightone %}
            {% include '@snippets/parts/slider.twig' %}
        {% endblock %}

        {% block wraprighttwo %}
            {% include '@snippets/parts/textblock.twig' with {'heading': data.heading, 'text' : data.text } %}
        {% endblock %}

    {% endembed %}

{% endif %}
