
{% if data.layout == 'textimage' %}

    {% embed "@snippets/containers/wrapleft.twig" %}
        {% block wrapleftone %}
            <div class="fadein">
                {% include '@snippets/parts/textblock.twig' with {'heading': data.heading, 'text' : data.text } %}
            </div>
        {% endblock %}
        {% block wraplefttwo %}
            <div class="fadein">
                {% include '@snippets/pictures/landscape-medium.twig' with {'image': data.image.toFile } %}
            </div>
        {% endblock %}
    {% endembed %}

{% else %}

    {% embed "@snippets/containers/wrapright.twig" %}
        {% block wraprightone %}
            <div class="fadein">{% include '@snippets/pictures/landscape-medium.twig' with {'image': data.image.toFile } %}</div>
        {% endblock %}

        {% block wraprighttwo %}
            <div class="fadein">{% include '@snippets/parts/textblock.twig' with {'heading': data.heading, 'text' : data.text } %}</div>
        {% endblock %}

    {% endembed %}

{% endif %}
