@import url("//hello.myfonts.net/count/38cc54");


@font-face {
    font-family: 'CeraPRO';
    font-weight: 700;
    src: url('fonts/38CC54_0_0.eot');
    src: url('fonts/38CC54_0_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/38CC54_0_0.woff2') format('woff2'),
    url('fonts/38CC54_0_0.woff') format('woff'),
    url('fonts/38CC54_0_0.ttf') format('truetype');
}


@font-face {
    font-family: 'CeraPRO';
    font-weight: 400;
    src: url('fonts/38CC54_1_0.eot');
    src: url('fonts/38CC54_1_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/38CC54_1_0.woff2') format('woff2'),
    url('fonts/38CC54_1_0.woff') format('woff'),
    url('fonts/38CC54_1_0.ttf') format('truetype');
}


@tailwind preflight;


@tailwind components;

a,
.link {
    @apply text-grey-main no-underline  ;
    transition: 0.5s;
}

a:hover,
.link:hover {
    @apply text-purple ;
}

.button {
    @apply uppercase tracking-wide px-24 py-16 text-white bg-purple effect ;
}
.button:hover {
    @apply bg-purple-light shadow-2 text-white ;
}


.paragraphs p {
    @apply mb-24;
}

@screen md {
    .paragraphs p {
        @apply mb-32;
    }
}

.paragraphs p:last-child {
    @apply mb-0;
}

.subheading {
    @apply text-36 uppercase tracking-wide leading-none  ;
}
@screen sm {
    .subheading {
        @apply text-42 ;
    }
}

.maintext {
    @apply text-18 ;
}
@screen sm {
    .maintext {
        @apply text-21 ;
    }
}
.effect {
    transition: 0.5s;
}


.landscape {
    height: 0;
    overflow: hidden;
    position: relative;
    padding-top: 66.666% !important;
    width: 100%;
}

#siteheader{
    background-color: #fff;
    .subtitle {
        order: 4;
        width: 100%;
        text-align: center;
    }
    .phone-langs {
        order: 1;
        width: 66%;
    }
    .menu {
        order: 3;
        width: 33%;
        justify-content: flex-end;
        .menu-wrapper {
            display: none;
        }
    }
    .close-buttom-wrap {
        @apply hidden ;
    }
    .logos {
        order: 5;
        width: 100%;
        padding-bottom: 24px;
    }
}
@screen sm {
    #siteheader{
        .subtitle {
            order: 1;
            width: auto;
            text-align: left;
            @apply flex-grow ;
        }
        .phone-langs {
            order: 2;
            width: auto;
            flex: none;
        }
        .menu {
            order: 4;
            width: auto;
            flex: none;
        }
        .logos {
            order: 5;
            width: 100%;

        }
    }
}

@screen md {
    #siteheader{
        @apply justify-between ;
        .subtitle {
            order: 1;
            width: 40%;
            text-align: left;
            flex: none;
        }
        .phone-langs {
            order: 3;
            width: 40%;
            flex: none;
            @apply justify-end ;
        }
        .menu {
            order: 5;
            width: 100%;
            flex: none;
            .menu-button {
                display: none;
            }
            .menu-wrapper {
                @apply block w-full ;
                .menu-list {
                    @apply flex w-full justify-center flex-no-wrap items-center border-grey-light font-bold ;
                }
                li {
                    border-right: 1px solid;
                }
                li:last-child {
                    border-right: none;
                }
                li li {
                    border-right: none;
                }
                a {
                    @apply px-16 ;
                }
                .dropdown-button {
                    display: none;
                }
            }
            .dropdown {
                display: none;
            }
        }
        .logos {
            order: 2;
            width: 20%;
            flex: none;
            padding-bottom: 0;
        }
    }
}
.moving #siteheader {
    @apply fixed shadow-2 w-full ;
    z-index: 1000;
}
.gone #siteheader {
    @apply hidden ;
}
.openmenu #siteheader {
    @apply relative shadow-2 ;
    z-index: 1000;
}
.openmenu.moving #siteheader {
    @apply fixed ;
}
.stabilize.gone #siteheader {
    @apply relative shadow-2 block ;
}


#siteheader .menu-wrapper.activate {
    @apply block fixed pin bg-grey-darker opacity-75 text-white p-32 z-50 ;
    .menulink {
        @apply text-white py-8 border-b border-white border-solid ;
        .has-dropdown-button {
            @apply w-240 ;
        }
        .dropdown-button {
            @apply px-32 ;
        }
        a, button {
            @apply text-white;
        }
    }
    .dropdown {
        display: none;
    }
    .dropdown.activate {
        @apply block pb-16 ;
        a {
            @apply block no-underline text-white py-8 ;
        }
    }
    .close-buttom-wrap {
        @apply flex ;
    }
}

@screen sm {
    #siteheader .menu-wrapper.activate {
        @apply p-64 ;
    }
}

#hoverbackground {
    @apply  opacity-0 z-0 ;
}

@screen md {
    #siteheader .menu-wrapper {
        .has-dropdown-button {
            @apply relative ;
        }
        .dropdown.open {
            @apply block absolute w-360 text-center text-24 py-64 z-50 ;
            left: 50%;
            transform: translateX(-50%);
            a {
                @apply block py-16 text-white no-underline font-regular ;
            }
        }
    }
    #hoverbackground.open {
        @apply block absolute pin  bg-grey-dark opacity-75 effect z-40 ;
    }
}
.zoomimage {
    overflow: hidden;
}
.zoomimage img {
    transition: all 1.5s;
}
.zoomimage:hover img {
    transform: scale(1.1);
}



@tailwind utilities;

@responsive {
    .order-1 {
        order: 1;
    }
    .order-2 {
        order: 2;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
}


.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.visually-hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.uniform__potty {
    position: absolute;
    left: -9999px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main {
    flex: 1;
}


.double-banner .banner:last-child {
    @apply mt-80 ;
}

[data-toggle='on'] {
    display:block;
  }

  [data-toggle='off'] {
    display:none;
  }

@import 'flatpickr';
@import 'baguettebox';
// @import 'aos';
